/target/
/temp_download/
/appimagetool-x86_64.AppImage
/*.AppImage
.DS_Store

/scrcpy.dir/usr/bin/
/scrcpy.dir/.DirIcon

!/scrcpy.dir/android-webcam.desktop
!/scrcpy.dir/android-webcam.png
!/scrcpy.dir/AppRun
!/scrcpy.dir/usr/share/metainfo/
